<div id="app">
</div>
<div id="results">

</div>

<script>
  var app = app || {};

  app.user = JSON.parse( '<%= @current_user.to_json.html_safe %>' );
</script>


<script type="html/template" id="yourBookings">
<p>
  <strong>User:</strong>
  <%%= email %>
</p>
</script>

<script type="html/template" id="search">
  <input type="text" id="departure" class="browser-default" />
  <input type="text" id="destination" class="browser-default" />
</script>

<script type="html/template" id="searchItem">
  <li class="row">
    <span class="col s2 m2" id="<%%= id %>">Book</span>
    <span class="col s3 m3">Departure: <%%= departure %></span>
    <span class="col s3 m3">Destination: <%%= destination %></span>
    <span class="col s4 m4">Flight Number: <%%= number %></span>
  </li>
</script>
