<div id="app">
</div>

<div class="row">

  <div class="col s12 m3">
    <div id="bookingDetails">

    </div>
  </div>

  <div class="col s12 m6">
    <div id="results">

    </div>
  </div>

  <div class="col s12 m3">
    <div id="resultDetails">

    </div>
  </div>

</div>









<script>
  var app = app || {};

  app.user = JSON.parse( '<%= @current_user.to_json.html_safe %>' );
</script>


<script type="html/template" id="yourBookings">
<p>
  <strong>User:</strong>
  <%%= email %>
</p>
</script>

<script type="html/template" id="search">
  <input type="text" id="departure" class="browser-default" placeholder="Departure" />
  <input type="text" id="destination" class="browser-default" placeholder="Destination"/>
</script>

<script type="html/template" id="searchItem">
  <li class="row">
    <span class="col s2 m2" id="<%%= id %>"><%= image_tag("aeroplane.png", :alt => "rss feed") %>Book</span>
    <span class="col s3 m3">Departure: <%%= departure %></span>
    <span class="col s3 m3">Destination: <%%= destination %></span>
    <span class="col s4 m4">Flight Number: <%%= number %></span>
  </li>
</script>

<script type="html/template" id="showFlight">
<p>
  <strong>Number:</strong>
  <%%= flight.number %>
</p>

<p>
  <strong>Date:</strong>
  <%%= flight.date %>
</p>

<p>
  <strong>Destination:</strong>
  <%%= flight.destination %>
</p>

<p>
  <strong>Departure:</strong>
  <%%= flight.departure %>
</p>

<p>
  <strong>Duration:</strong>
  <%%= flight.duration %>
</p>


</script>
