<div id="app">
</div>
<div id="results">

</div>

<script>
  var app = app || {};

  app.user = JSON.parse( '<%= @current_user.to_json.html_safe %>' );
</script>


<script type="html/template" id="yourBookings">
<p>
  <strong>User:</strong>
  <%%= email %>
</p>
</script>

<script type="html/template" id="search">
  <input type="text" id="departure" class="browser-default" />
  <input type="text" id="destination" class="browser-default" />
</script>

<script type="html/template" id="searchItem">
  <li>
    <span>Departure: <%%= departure %></span>
    <span>Destination: <%%= destination %></span>
    <span>Flight Number: <%%= number %></span>
  </li>
</script>
