/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";

body {
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-image:
  linear-gradient(
      to right,
      #183E87,
      #183E87 5%,
      #EF476F 5%,
      #EF476F 10%,
      #FFD166 10%,
      #FFD166 15%,
      #DAF3F8 15%
    );
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  position: fixed;
  top: 0px;
}

.container {
  margin-top: 150px;
}

a {
  font-size: 20px;
  margin: 0px 35px;
}

.hide-on-med-and-down a {
  font-size: 20px;
  margin: 0px 20px;
}

.loginNav, .addPlaneNav, .addFlightNav {
  float: left;
  color: dodgerblue;
}
.signUpNav, .logoutNav, .editNav {
  float: right;
  color: dodgerblue;
}

.side-nav {
  width: 50%;
  height: 50%;
  background-color: #162129;
  a {
    font-size: 16px;
    margin: 20px 0px 0px 0px;
    background-color: #162129;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 100%;
    display: block;
    text-align: left;
    float: left;
    clear:both;
  }
  a:hover {
    background-color: #141E25;
  }
}

// Form

form {
  width: 500px;
  margin: 0 auto;
  label {
    color: #EF476F;
  }

  input {
    color: #EF476F;
    background-color: ghostwhite;
    border: 2px solid #EF476F;
    border-radius: 5px;
    margin: 0px 0px 10px 0px;
  }

  p input {
    outline: none;
    border-bottom: 1px solid ghostwhite !important;
    box-shadow: 0 1px 0 0 ghostwhite !important;
  }

  p {
    color: ghostwhite;
  }
  input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, .5);
  }
  p input:focus {
    outline: none;
    border-bottom: 1px solid ghostwhite !important;
    box-shadow: 0 1px 0 0 ghostwhite !important;
 }
}

.field {
  input {
    outline: none;
    border-bottom: 1px solid ghostwhite !important;
    box-shadow: 0 1px 0 0 ghostwhite !important;
    border-radius: 10px;
  }
}


h1 {
  margin-top: 100px;
  text-align: center;
  color: #EF476F;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 75px;
  text-align: center;
  margin: 0 auto;
  margin-top: 110px;
  color: white;
text-shadow:
-2px -2px 0 #EF476F,
2px -2px 0 #EF476F,
-2px 2px 0 #EF476F,
2px 2px 0 #EF476F;
}

.logo h1 {
  font-size: 100px;
  color: white;
  // text-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);
}

h2 {
  font-family: 'Lobster', cursive;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  color: white;
  // text-shadow: 2px 1px 10px rgba(0, 0, 0, 0.5);
}

h3 {
  text-align: center;
  font-size: 20px;
  color: white;
}

h4 {
  font-family: 'Lobster', cursive;
  font-size: 46px;
  margin-top: -8px;
  line-height: inherit;
  transform: translate(-35px, 5px);
  text-shadow:
  -2px -2px 0 #EF476F,
  2px -2px 0 #EF476F,
  -2px 2px 0 #EF476F,
  2px 2px 0 #EF476F;
}

h5 {
  color: white;
}


// Seats

.seat {
  height: 20px;
  width: 20px;
  border: 2px solid black;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: gainsboro;
}

.unavailable {
  background-color: red;
}

.selected {
  background-color: green;
}

#departure, #destination {
  width: 200px;
  display: inline-block;
  background-color: rgba(0,0,0,0.2);
  padding: 2px;
}

#search {
  color: white;
}

html, body {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(123deg, #eef9f6, #beebfc, #1c6cc1, #0638a6, #33485d, #112436);
  background-size: 1200% 1200%;
  -webkit-animation: sky 30s ease-in-out infinite;
  -moz-animation: sky 30s ease-in-out infinite;
  animation: sky 30s ease-in-out infinite;
}

@-webkit-keyframes sky {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}
@-moz-keyframes sky {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}
@keyframes sky {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

#app input {
  background-color: rgba(255, 255, 255, .3);
  outline: none;
  border-bottom: 1px solid ghostwhite !important;
  box-shadow: 0 1px 0 0 ghostwhite !important;
  border-radius: 10px;
  color: #EF476F;
  height: 30px;
}

#app input:focus {
  outline: none;
  background-color: ghostwhite;
}
