// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#results {
  background-color: rgba(255,255,255,0.5);
  display: inline-block;
  padding: 0px 20px 0px 20px;
  max-height: 70vh;
  overflow:auto;
  min-width: 600px;
  border-radius: 10px;

  .row {
  background-color: rgba(255,255,255,0.2);
  border-radius: 10px;
  }
  li {
    list-style: none;
  }
}



.container.row {
  background-color: rgba(255,255,255,0.5);
}
